* {
  box-sizing: border-box;
}

body {
  background-color: #eee;
  margin: 0;
  padding: 0;
  color: white;
  padding: 1px;
  padding-top: 2px;
}

.side-nav {
  background-color: #1f2123;
  margin: 0px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
  overflow: auto;
  height: 95vh;
}

.chat-btn {
  border: 1px solid rgb(96, 95, 95);
  height: 40px;
  border-radius: 5px;
}

.chat-btn:hover {
  background-color: rgb(79, 79, 79);
  transition: background-color 0.5s ease;
}

.gpt-model {
  background-color: #1f2123;
}

.gpt-temperature {
  background-color: #1f2123;
}

input[type="range"] {
  width: 80%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  margin: 10px 0;
  width: 100%;
  background: #c5c5d2;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 0px 0px #000000;
  border: 1px solid #ffffff;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}

.side-nav ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.side-nav li {
  padding: 10px;
  cursor: pointer;
}

.side-nav li:hover {
  background-color: #495057;
}

.side-nav i {
  margin-right: 10px;
}

.content {
  background-color: #353641;
  margin: 0px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.chat-content-area {
  overflow: auto;
  height: 500px;
  overflow-x: hidden;
}

.chat-inputs-container {
  background-color: #40414f;
  padding: 5px;
  border-radius: 5px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.1);
}

.chat-inputs-container textarea {
  background-color: transparent;
  outline: none;
  border: none;
  color: #ffffff;
  resize: none;
}

.chat-inputs-area-inner {
  padding-top: 30px;
  padding-left: 150px;
  padding-right: 150px;
}

.fa-paper-plane {
  color: grey;
  cursor: pointer;
}

.chatgpt-icon {
  width: 40px;
}

.user-chat-box {
  padding: 20px;
  padding-left: 150px;
  color: #ffffff;
}

.form-select {
  border: 1px solid rgb(96, 95, 95);
  height: 40px;
  border-radius: 5px;
}

small {
  font-size: 11px;
  padding: 12px;
  display: block;
}

.gpt-chat-box {
  background-color: #404350;
  padding: 20px;
  padding-left: 150px;
  color: #ffffff;
}

.chat-icon {
  width: 15%;
  margin: 0;
  padding: 0;
}

.chat-txt {
  width: 85%;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #303235;
  color: #ffffff;
  height: 30px;
  font-size: 11px;
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #565869;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 768px) {
  .user-chat-box {
    padding-left: 20px;
  }

  .gpt-chat-box {
    padding-left: 20px;
  }

  .chat-inputs-area-inner {
    padding-left: 50px;
    padding-right: 54px;
    margin-bottom: 30px;
  }
}
